{
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "singleAttributePerLine": false,
    "endOfLine": "auto"
  }
  